:root {
  --textColor: #ffffff;
  --backgroundColor: #1c1a23;
  --primaryColor: #212121;
  --secondaryColor: #f5f5f5;
  --accentColor: #4281ff;

  --headerColor: #003d73;
  --lightModeBackground: #f5f5f5;
  --darkModeBackground: #1c1a23;

  --darkModeText: #f5f5f5;
  --lightModeText: #212121;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  padding: 0 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 1181px) {
  body {
    padding: 0 5rem;
  }
}

@media (min-width: 1424px) {
  body {
    padding: 0 10rem;
  }
}

html {
  overflow:   scroll;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: transparent; /* make scrollbar transparent */
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  display: block;
  font-family: Aquire, serif !important;
}

h1 {
  font-size: 3rem !important;
  line-height: 4rem !important;
  font-family: Aquire, serif;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-family: Aquire, serif;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-family: Orbitron, serif;
}

h4 {
  font-size: 1rem;
  line-height: 2rem;
  font-family: Orbitron, serif;
}

span {
  font-family: Orbitron, serif;
}

p {
  font-family: Orbitron, serif;
}

small {
  font-family: Orbitron, serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Aquire, serif !important;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/*.line {*/
/*  position: fixed;*/
/*  left: -5rem;*/
/*  width: 110%;*/
/*  color: var(--primaryColor);*/
/*  z-index: -1;*/
/*}*/

/*@media (max-width: 600px) {*/
/*  .line {*/
/*    padding-top: 25rem;*/
/*    width: 130%;*/
/*  }*/
/*}*/